<h1>Bienvenue à toi jeune <%= params["id"] %></h1>
<br>
<a href="<%= new_gossip_path %>" class="btn btn-success">Creer un nouveau gossip</a>
<br>
<%= @all_gossips.each do |gossips| %>  <!-- début de la boucle -->
<div class="card" style="width: 18rem;">
  <div class="card-body"> 
    <h5 class="card-title"><p>Author : <%= User.find(gossips.user_id).first_name %></p></h5> <!-- Pour récuperer le nom de l'auteur -->
    <p class="card-text">Title : <%= gossips.title %></p> <!-- pour donner le title du gossip en question -->
    <a <%= link_to "Voir le contenu", show_gossips_path(gossips.id) %></a> <!-- Lien pour voir le contenu complet du gossip -->

  </div>
</div>
<% end %>
